body {
    font-family: 'Roboto', sans-serif;
    background-size: cover; /* Adjust background size */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.container{
    height: 100%;
    background-color: #f5eaea;
    margin-top: 15%;
    height: 400px;
    width: 600px;
    border-radius: 20px;   
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.5);   
}

.container_content{
    padding: 20px;
}

.container_ctitle{
    margin-left: 10px;
    margin-bottom: 20px;
}

.container_directory{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-control{
    border-radius: 20px;
}

.container_form-label{
    margin-bottom: 10px;
    margin-top: 15px;
}

.form-check-input:checked{
    background-color: #ff7f08;
}

.container_Button {
    border-radius: 20px;
    background-color: #ff7f08;
    color: #FFFFFF;
}

.container_Button:hover{
    background-color: #fec48e;
}

.form-check-label{ 
    margin-left: 5px;
}

.container_form-check{
    margin-bottom: 30px;
}

.container_messages {
    border-radius: 10px;
    margin-top: 10px;
}
